html{
	font-size: 20px;
}

#lpk-left{
}

#lpk-right{
}

.lpk-img-responsive{
	display: block;
	max-width: 100%;
	height: 100vh;
}

#text-and-from{
	background-color: #b94a48;
	height: 100vh;
}

#header-text{
	margin-top: 27px;
	font-size: 1.7rem;
}

#header-text,#form{
	direction: rtl;
	font-family: "Open Sans Hebrew";
}

#mom-dad{
	font-size: 3rem;
	font-weight: bold;
}

#did-u-know div{
	font-size: 1.1rem;
	font-weight: 800;
}

#drum-school{
	margin-top: 10px;
	font-size: 1.4rem;
	font-weight: 600;
}

#form{
	background-color: white;
}

#form-container{
	text-align: center;
	font-family: "Open Sans Hebrew";
	margin: 25px 60px;
	border-radius: 12px;
}

#form-header{
	font-size: 1.4rem;
	line-height: 31px;
	margin-top: 16px;
}

.white-header{
	color: white;
	font-family: "Open Sans Hebrew";
}

#icons{
	margin-top: 15px;
}

#empty-bottom{
	background-color: white;
}

.center-img{
	margin: 0 auto;
}

#submit{
	background-color: #ffdd33;
	font-size: 1rem;
	font-weight: 600;
	width: 100%;
	margin: 24px 0px;
}

.form-input-text-size{
	font-size: 1rem;
}

.lpk-main-color{
	color: #763d5d;
}

.lpk-main-bg-color{
	background-color: #763d5d;
}

#form-number{
	font-size: 2.3rem;
	font-weight: 800;
}

#form-details{
	font-size: 1.3rem;
	font-weight: 200;
}

.lpk-loader {
	border: 10px solid #f3f3f3; /* Light grey */
	border-top: 10px solid #763d5d; /* Blue */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1s linear infinite;
	margin: 5px auto;
}

#lpk-modal p{
	text-align: center;
	direction: rtl;
	font-size: 1rem;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

@media(max-width: 1724px) {
	html {
		font-size: 14px;
	}
}

@media(max-width: 1382px) {
	html {
		font-size: 12px;
	}
}

