/**
*
* -------------------------------------------------
*
* Template : Yala - One Page Personal Portfolio Template
* Author   : Hamza Mensouri
* Version  : 1.0
*
* --------------------------------------------------

01.GLOBAL STYLE
02.INTRO
03.ABOUT-AREA
04.SERVICES-AREA
05.COUNTER-AREA
06.PORTFOLIO-AREA
07.TESTIMONIALS-AREA
08.BLOG-AREA
09.CONTACT-AREA
10.FOOTER
11.INNER-PAGES
* --------------------------------------------------
*
**/

/*================ 01-GLOBAL STYLE ================*/
/* Google Fonts*/
@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700|Roboto:300,400|Athiti:300,400|Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/css?family=Secular+One');
@import url('//fonts.googleapis.com/earlyaccess/opensanshebrew.css');

* {
	padding: 0;
	margin: 0;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
}

/* Preloader */
.page-loading {
	background-color: #ffffff;
	bottom: 0;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 9999;
}

.page-loading .loader {
	background: #d6b161;
	border-radius: 50%;
	height: 40px;
	left: 50%;
	margin-left: -23px;
	margin-top: -14px;
	position: absolute;
	top: 48%;
	width: 40px;
	animation: load 0.75s linear infinite;
}

.page-loading .loader:after {
	content: '';
	position: absolute;
	width: 37px;
	height: 36px;
	top: 1px;
	right: 0;
	left: 0;
	margin: auto;
	background: #ffffff;
	border-radius: 50%;
}

@keyframes load {
	to {
		transform: rotate(360deg);
	}
}

/* ---------- */
#about,
#services,
#resume,
#counter,
#portfolio,
#testimonials,
#blogs,
#contact {
	padding: 65px 0 85px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Open Sans Hebrew', sans-serif;
}

p {
	font-family: 'Open Sans Hebrew', sans-serif;
}

/*================ 02.INTRO ================*/
.header {
	background-image: url(../img/about/wlcm-bg.jpg); /* --- background image here --- */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-attachment: fixed;
	position: relative;
	height: 100vh;
	min-height: 750px;
	overflow-y: hidden;
}

.header .overlay {
	background-color: rgba(0, 0, 0, 0.6);
	height: 100%;
}

.mynavbar {
	background-color: transparent;
	width: 100%;
	padding: 30px 0;
	z-index: 20;
	top: 0;
	position: fixed;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.nav-scroll .mynavbar {
	background-color: #ffffff;
	padding: 10px 0;
	border-radius: 0;
	box-shadow: 0 0 2px #e0e0e0;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
}

.navbar-default {
	border: none;
}

.navbar-default .navbar-header a {
	font-family: 'Open Sans Hebrew', sans-serif;
	display: block;
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-weight: 400;
	font-size: 20px;
	text-decoration: none;
}

.nav-scroll .mynavbar a {
	color: #222222;
}

.navbar-default .navbar-header a:hover, .navbar-default .navbar-header a:focus {
	color: #ffffff;
}

.nav-scroll .mynavbar a:hover, .nav-scroll .mynavbar a:focus {
	color: #222222;
}

.navbar-default .navbar-header a span {
	color: #d6b161;
	font-weight: 700;
}

.navbar-default .nav-list li a {
	font-family: 'Open Sans Hebrew', sans-serif;
	color: #ffffff;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.5pt;
	text-align: right;
}

.nav-scroll .mynavbar .nav-list li a {
	font-family: 'Open Sans Hebrew', sans-serif;
	color: #222222;
	font-size: 15px;
	text-transform: uppercase;
	letter-spacing: 0.5pt;
}

.navbar-default .nav-list li a:hover, .navbar-default .nav-list li a:focus {
	color: #ffffff;
}

.nav-scroll .mynavbar .nav-list li a:hover, .navbar-default .nav-list li a:focus {
	color: #222222;
	transition: 700ms ease;
}

.navbar-default .nav-list li a:focus {
	color: #d6b161;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: transparent;
	border: none;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #d6b161;
}

/* WELCOME AREA */
.welcome-area {
	padding: 350px 0 0;
}

.welcome-area h2 {
	color: #ffffff;
	font-size: 58px;
	font-weight: 700;
	text-transform: uppercase;
	margin-bottom: 25px;
	margin-top: 15px;
	letter-spacing: 2px;
	font-family: 'Secular One';
}

.welcome-area span {
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 2px;
	font-family: 'Montserrat', sans-serif;
}

/* SOCIAL ICONS */
.welcome-area .social ul {
	padding: 0;
	margin: 0;
}

.welcome-area .social ul li {
	display: inline-block;
}

.welcome-area .social ul li a {
	font-size: 13px;
	padding: 0 10px;
	display: block;
}

.welcome-area .social ul li a i {
	color: #ffffff;
}

/* SCROLL BOUNCE */
.welcome-area .welcome-scroll {
	margin-top: 185px;
}

.welcome-area .welcome-scroll .arrow a {
	color: #d6b161;
	font-size: 10px;
	text-decoration: none;
}

.welcome-area .welcome-scroll .bounce {
	-webkit-animation: bounce 2s infinite;
	animation: bounce 2s infinite;
}

@keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

@-webkit-keyframes bounce {
	0%,
	20%,
	50%,
	80%,
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	40% {
		-webkit-transform: translateY(-30px);
		transform: translateY(-30px);
	}
	60% {
		-webkit-transform: translateY(-15px);
		transform: translateY(-15px);
	}
}

.typed::after {
	content: '|';
	display: inline;
	color: #d6b161;
	-webkit-animation: blink 0.7s infinite;
	-moz-animation: blink 0.7s infinite;
	animation: blink 0.7s infinite;
}

.typed-cursor {
	opacity: 0;
	display: none;
}

@keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-moz-keyframes blink {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/*================ END INTRO ================*/

/*================ 03.ABOUT-AREA ================*/
.about-section {
	background: #ffffff;
}

.about-section .section-title {
	padding: 0 0 50px 0;
}

.about-section .section-title h1 {
	color: #222222;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	border-right: 5px solid #d6b161;
	padding-right: 10px;
	letter-spacing: 0.5pt;
	text-align: right;
	direction: rtl;
}

.about-section .section-picture {
	position: relative;
}

.about-section .section-picture img {
	display: block;
	margin: 0 auto;
	padding: 0;
	height: auto;
	vertical-align: top;
	max-width: 100%;
	backface-visibility: hidden;
}

/* About Details */
.about-section .section-content {
	padding: 0 2px;
}

.about-section .section-content .tab-content h3 {
	color: #d6b161;
	font-weight: 400;
	margin-top: 0;
}

.about-section .section-content .tab-content h3 span {
	color: #5f5f5f;
	font-weight: 300;
}

.about-section .section-content .tab-content p {
	color: #666666;
	font-size: 16px;
	line-height: 25px;
	letter-spacing: 0.1pt;
	direction: rtl;
}

/* My works */
.about-section .signature {
	font-family: 'Indie Flower', cursive;
	font-size: 16px;
	color: #222222;
	letter-spacing: 2px;
}

.about-section .signature span {
	font-size: 25px;
}

/*================ 04.SERVICES-AREA ================*/
.services-section {
	background-color: #f7f7f7;
}

.services-section .section-title {
	padding: 0 0 50px 0;
}

.services-section .section-title h1 {
	color: #222222;
	font-size: 25px;
	font-weight: 700;
	border-right: 5px solid #d6b161;
	padding-right: 10px;
	letter-spacing: 0.5pt;
	text-align: right;
	direction: rtl;
}

.services-section .thumbnail {
	border-radius: 0;
	border: 1px solid #e0e0e0;
	padding: 40px 30px;
	margin-bottom: 30px;
	background-color: transparent;
	text-align: right;
	direction: rtl;
}

.services-section .thumbnail:hover {
	border: 1px solid #d6b161;
	background-color: #ffffff;
	transition: 600ms ease;
}

.services-section .thumbnail h3 {
	color: #222222;
	padding-top: 10px;
	font-size: 18px;
	text-align: right;
	direction: rtl;
}

.services-section .thumbnail p {
	color: #777777;
	font-size: 16px;
	line-height: 25px;
}

/*================ 05.COUNTER-AREA ================*/
.counter-section {
	background-image: url(../img/..); /* --- background image here --- */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

.counter-section .overlay {
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
	width: 100%;
}

.counter-section .projects #border-left1, #border-left2, #border-left3 {
	border-left: 1px solid rgba(255, 255, 255, 0.2);
}

.counter-section .projects .project-single .number {
	font-family: 'Athiti', sans-serif;
	color: #d6b161;
	margin-top: 25px;
	font-size: 26px;
}

.counter-section .projects .project-single h5 {
	color: #ffffff;
	text-transform: uppercase;
	letter-spacing: 0.8pt;
}

/*================ 06.PORTFOLIO-AREA ================*/
.portfolio-section {
	background: #ffffff;
}

.portfolio-section .section-title {
	padding: 0 0 50px 0;
}

.portfolio-section .section-title h1 {
	color: #222222;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	border-right: 5px solid #d6b161;
	padding-right: 10px;
	letter-spacing: 0.5pt;
	text-align: right;
	direction: rtl;
}

.portfolio-section .portfolio-b {
	padding: 10px 10px;
	overflow: hidden;
}

.portfolio-section .portfolio-box {
	position: relative;
	overflow: hidden;
	display: block;
	max-width: 650px;
	margin: 0 auto;
}

.portfolio-section .portfolio-box * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.6s ease;
	transition: all 0.6s ease;
}

.portfolio-section .portfolio-box img {
	opacity: 1;
	width: 100%;
	display: block;
}

.portfolio-section .portfolio-box:hover img {
	opacity: 0.6;
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

/*================ 07.TESTIMONIALS-AREA ================*/
.testimonials-section {
	background: #f7f7f7;
}

.testimonials-section .item p {
	font-size: 18px;
	line-height: 30px;
	text-align: inherit;
	letter-spacing: 0.5px;
	font-style: italic;
	direction: rtl;
}

.testimonials-section .carousel-inner .item h6 {
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1px;
}

/* carousel */
#quote-carousel {
	padding-bottom: 30px;
	text-align: center;
}

/* indicator position */
#quote-carousel .carousel-indicators {
	left: 0%;
	top: auto;
	bottom: -10px;
	width: 100%;
	margin-left: 0;
	margin-bottom: 0;
}

/* indicator color */
#quote-carousel .carousel-indicators li {
	background: #c0c0c0;
	height: 6px;
	width: 6px;
}

/* active indicator */
#quote-carousel .carousel-indicators .active {
	background: #333333;
	height: 6px;
	width: 6px;
	margin-bottom: 1px;
}

#quote-carousel blockquote {
	border: none;
	padding: 20px 0 0 0;
}

/*================ 08.BLOG-AREA ================*/
.blogs-section {
	background: #ffffff;
}

.blogs-section .section-title {
	padding: 0 0 50px 0;
}

.blogs-section .section-title h1 {
	color: #222222;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	border-right: 5px solid #d6b161;
	padding-right: 10px;
	letter-spacing: 0.5pt;
	text-align: right;
	direction: rtl;
}

.blogs-section .blog-item a {
	text-decoration: none;
}

.blogs-section .blog-img {
	position: relative;
	overflow: hidden;
}

.blogs-section .blog-item img {
	border: 0;
	max-width: 100%;
	vertical-align: middle;
	height: auto;
	box-sizing: border-box;
}

.blogs-section .blog-content {
	padding: 25px;
	z-index: 1;
	background: #fff;
	position: relative;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blogs-section .blog-content-title {
	margin-top: 0;
	font-size: 22px;
	text-align: right;
	direction: rtl;
}

.blogs-section .blog-content-title a {
	font-weight: 400;
	color: #222222;
	font-size: 22px;
}

.blogs-section .blog-content-desc {
	margin-bottom: 15px;
	text-align: right;
	direction: rtl;
}

.blogs-section .blog-content-desc p {
	color: #666666;
	font-size: 14px;
	line-height: 25px;
	margin-bottom: 0;
}

.blogs-section .blog-content-footer {
	text-align: right;
	direction: rtl;
}

.blogs-section .blog-content-footer a {
	text-decoration: none;
}

.blogs-section .blog-content-footer span {
	font-family: 'Open Sans Hebrew', sans-serif;
	font-size: inherit;
	color: #222222;
	padding-left: 6px;
	letter-spacing: 0.5pt;
}

.blogs-section .blog-content-footer i {
	color: #d6b161;
}

/*================ 09.CONTACT-AREA ================*/
.contact-section {
	background-image: url(../img/..); /* --- background image here --- */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	position: relative;
}

.contact-section .overlay {
	background-color: rgba(0, 0, 0, 0.9);
	height: 100%;
	width: 100%;
}

.contact-section .section-title {
	padding: 0 0 50px 0;
}

.contact-section .section-title h1 {
	color: #ffffff;
	font-size: 25px;
	font-weight: 700;
	text-transform: uppercase;
	border-right: 5px solid #d6b161;
	padding-right: 10px;
	letter-spacing: 0.5pt;
	text-align: right;
	direction: rtl;
}

.map {
	width: 100%;
	height: 150px;
	margin-bottom: 30px;
}

.contact-section .input-margin-top {
	margin-top: 15px;
}

.contact-section form .textarea {
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	height: 180px;
	margin-bottom: 15px;
	padding-top: 15px;
	border-radius: 0;
	text-align: right;
	direction: rtl;
}

.contact-section form .form-input {
	font-family: 'Montserrat', sans-serif;
	background: transparent;
	border: 1px solid #ffffff;
	color: #ffffff;
	height: 50px;
	border-radius: 0;
	text-align: right;
	direction: rtl;
}

/* Placeholder Color */
.contact-section .form-control::-webkit-input-placeholder {
	color: #ffffff;
}

/* WebKit, Blink, Edge */
.contact-section .form-control:-moz-placeholder {
	color: #ffffff;
}

/* Mozilla Firefox 4 to 18 */
.contact-section .form-control::-moz-placeholder {
	color: #ffffff;
}

/* Mozilla Firefox 19+ */
.contact-section .form-control:-ms-input-placeholder {
	color: #ffffff;
}

/* Internet Explorer 10-11 */
.contact-section .form-control::-ms-input-placeholder {
	color: #ffffff;
}

/* Microsoft Edge */
/* Contact Button */
.contact-section form .button {
	background-color: transparent;
	color: #d6b161;
	font-family: 'Open Sans Hebrew', sans-serif;
	font-size: 12px;
	border: 1px solid #ffffff;
	text-transform: uppercase;
	letter-spacing: 1pt;
	padding: 16px 0;
	border-radius: 0;
}

/* Succes & Error Message */
.contact-section .success {
	padding: 1em;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #468847;
	background-color: #dff0d8;
	border: 1px solid #468847;
	transition: 500ms ease;
	text-align: right;
}

.contact-section .error {
	padding: 1em;
	margin-bottom: 20px;
	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
	color: #b94a48;
	background-color: #f2dede;
	border: 1px solid #b94a48;
	transition: 500ms ease;
	text-align: right;
}

/*================ 10.FOOTER ================*/
.footer-area {
	background-color: #ffffff;
	padding: 30px 0;
}

.footer-area .footer-text p {
	color: #555555;
	letter-spacing: 1px;
	margin: 0 0 0;
}

/*================ 11.INNER-PAGES ================*/

/*---------- Single-Blog ----------*/
#post-bg {
	background-image: url(../img/..); /* --- background image here --- */
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50% 0px;
	background-attachment: fixed;
	position: relative;
	height: 350px;
	min-height: 0;
	overflow-y: hidden;
}

#post-bg .overlay {
	background-color: rgba(0, 0, 0, 0.95);
	height: 100%;
}

.blog-area {
	padding: 120px 0 0;
}

.blog-area h2 {
	color: #ffffff;
	font-size: 40px;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.blog-area p {
	color: #ffffff;
	font-size: 16px;
	font-weight: 300;
	font-family: 'Montserrat', sans-serif;
}

.blog-area .breadcrumb {
	padding: 8px 0;
	list-style: none;
	background-color: transparent;
	border-radius: 0;
	margin-bottom: 0;
	margin-top: 20px;
}

.blog-area .breadcrumb a {
	text-decoration: none;
	text-transform: uppercase;
	font-size: 12px;
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
}

.breadcrumb > .active {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	color: #ffffff;
}

.breadcrumb li + li:before {
	color: #d6b161;
}

.single-blog {
	padding-bottom: 30px;
}

#blog {
	padding-top: 90px;
}

.post-thumb {
	position: relative;
	overflow: hidden;
}

.post-thumb img {
	width: 100%;
	height: 400px;
}

.post-content {
	padding: 20px 0;
}

h2.post-title {
	font-size: 26px;
	display: inline-block;
	font-weight: 400;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 5px;
}

.post-title a {
	text-decoration: none;
	color: #222222;
}

.post-content .post-author {
	margin-top: 0;
}

.post-content .post-author span {
	margin: 0 8px;
}

.post-content .post-author a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
	text-decoration: none;
	color: #666666;
	text-transform: uppercase;
}

.post-content p {
	color: #333333;
	font-size: 14px;
	line-height: 25px;
}

.post-content blockquote {
	font-family: 'Roboto', sans-serif;
	color: #000000;
	font-size: 14px;
	line-height: 25px;
	font-weight: 300;
	border-left: 5px solid #d6b161;
	padding: 0px 25px;
	margin: 20px 0 20px;
}

/* Sidebar Right Titles */
.sidebar h3 {
	color: #222222;
	margin-top: 0;
	margin-bottom: 20px;
	color: #222222;
	font-size: 16px;
	font-weight: 700;
	text-transform: uppercase;
	border-left: 5px solid #d6b161;
	padding-left: 10px;
	letter-spacing: 0.5pt;
}

.sidebar-item {
	margin-bottom: 48px;
}

/* Search */
.form-control {
	border-radius: 0;
	border: 1px solid #e0e0e0;
	box-shadow: none;
	height: 45px;
}

.form-control:focus, .form-control:hover {
	border: 1px solid #eeeeee;
	box-shadow: none;
}

.input-group-btn .btn {
	background-color: #d6b161;
	border: 1px solid #d6b161;
	color: #ffffff;
	height: 45px;
	width: 45px;
	box-shadow: none;
	border-radius: 0;
}

/* Latest Posts */
.sidebar-item .media {
	border-bottom: 1px solid #ececec;
	padding-bottom: 10px;
	padding-top: 10px;
	margin-top: 0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

.sidebar-item .media img {
	width: 70px;
	height: 60px;
}

.sidebar-item .media:last-child {
	border-bottom: 0;
	padding-bottom: 0;
}

.media-body, .media-left, .media-right {
	display: table-cell;
	vertical-align: top;
}

.sidebar-item .media:hover.media .media-body h4 a {
	color: #d6b161;
	transition: all 0.6s ease 0s;
	-webkit-transition: all 0.6s ease 0s;
}

.sidebar-item .media .media-body h4 {
	margin-top: 0;
	margin-bottom: 10px;
}

.sidebar-item .media .media-body h4 a {
	text-decoration: none;
	color: #222222;
	font-size: 13px;
	font-weight: 400;
}

.sidebar-item .media .media-body p {
	color: #666666;
	font-size: 12px;
}

/* Categories */
.categories .navbar-stacked li {
	border-bottom: 1px solid #ececec;
}

.categories .navbar-stacked li:last-child {
	border-bottom: 0;
}

.categories .navbar-stacked li a {
	font-family: 'Open Sans Hebrew', sans-serif;
	font-size: 13px;
	color: #222222;
	padding: 10px 0;
	padding-left: 0;
}

.categories .navbar-stacked li a:hover {
	background: none;
	color: #d6b161;
	transition: 200ms ease;
}

.categories .navbar-stacked li.active a {
	font-family: 'Open Sans Hebrew', sans-serif;
	color: #222222;
	padding-left: 20px;
}

.categories .navbar-stacked li.active a:hover {
	color: #d6b161;
	transition: 400ms ease;
}

.categories .navbar-stacked li.active a:before {
	position: absolute;
	content: "";
	border-color: transparent transparent transparent #d6b161;
	border-width: 8px;
	border-style: solid;
	left: 0;
	margin-top: 0;
	z-index: 0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

/* Tags */
.tag-cloud .nav-pills {
	margin-top: 16px;
}

.tag-cloud .nav-pills li {
	margin: 0;
	margin-top: 6px;
	margin-right: 4px;
}

.tag-cloud .nav-pills li a {
	font-family: 'Montserrat', sans-serif;
	border: 1px solid #eeeeee;
	text-transform: capitalize;
	color: #666666;
	font-size: 13px;
	padding: 5px 10px;
	background: transparent;
	border-radius: 0;
}

.tag-cloud .nav-pills li a:hover {
	border: 1px solid #d6b161;
	transition: 400ms ease;
}

/* Archives */
.archive .navbar-stacked li {
	border-bottom: 1px solid #ececec;
}

.archive .navbar-stacked li:last-child {
	border-bottom: 0;
}

.archive .navbar-stacked li a {
	font-family: 'Montserrat', sans-serif;
	font-size: 13px;
	color: #222222;
	padding: 10px 0;
	padding-left: 0;
}

.archive .navbar-stacked li a:hover {
	background: none;
	color: #d6b161;
	transition: 400ms ease;
}

.archive .navbar-stacked li.active a {
	font-family: 'Montserrat', sans-serif;
	color: #222222;
	padding-left: 20px;
}

.archive .navbar-stacked li.active a:hover {
	color: #d6b161;
	transition: 400ms ease;
}

.archive .navbar-stacked li.active a:before {
	position: absolute;
	content: "";
	border-color: transparent transparent transparent #d6b161;
	border-width: 8px;
	border-style: solid;
	left: 0;
	margin-top: 0;
	z-index: 0;
	transition: all 0.3s ease 0s;
	-webkit-transition: all 0.3s ease 0s;
}

/* Comment */
.comments-area {
	margin-top: 48px;
	border-bottom: 0;
}

.comments-area h2 {
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 20px;
}

.post-comment {
	padding: 20px 0;
	border-top: 1px solid #eeeeee;
}

.media {
	margin-top: 0;
}

.post-comment .pull-left img {
	width: 127px;
	height: 137px;
	margin-right: 30px;
}

.post-comment .media-body {
	border-bottom: 0;
	height: 135px;
}

.post-comment .media-body {
	border-bottom: 0;
	height: 135px;
}

.post-comment .media-body p {
	margin-top: 10px;
	margin-bottom: 12px;
}

.parrent .media-list {
	margin-left: 160px;
}

.parrent .post-comment {
	padding-left: 0;
}

.post-comment .post-author {
	margin-top: 0;
}

.post-comment .post-author span {
	margin: 0 8px;
}

.post-comment .post-author a {
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	font-size: 12px;
	text-decoration: none;
	color: #666666;
	text-transform: uppercase;
}

/* Reply Comment */
.post-comment .reply a {
	text-decoration: none;
}

.post-comment .reply span {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	color: #222222;
	padding-left: 6px;
	letter-spacing: 0.5pt;
}

.post-comment .reply i {
	color: #d6b161;
}

.leave-area {
	margin-top: 48px;
	border-bottom: 0;
}

.leave-area .form-border {
	padding: 20px 0;
	border-top: 1px solid #eeeeee;
}

.leave-area h2 {
	text-transform: uppercase;
	font-size: 20px;
	margin-top: 0;
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 20px;
}

.leave-area textarea {
	height: 115px;
	margin-bottom: 15px;
}

.leave-area .button {
	background-color: #d6b161;
	color: #ffffff;
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	font-size: 10px;
	border: 1px solid #eeeeee;
	text-transform: uppercase;
	letter-spacing: 1pt;
	padding: 14px 0;
	width: 140px;
	border-radius: 0;
}
